<section id="home-banner">
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4">
			<div class="banner">
				<a href="#">
					{{ 'banner_static1.jpg' | asset_url | img_tag }}
				</a>
			</div>
		</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
			<div class="banner">
				<a href="#">
					{{ 'banner_static2.jpg' | asset_url | img_tag }}
				</a>		
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<div class="banner">
				<a href="#">
					{{ 'banner_static3.jpg' | asset_url | img_tag }}
				</a>
			</div>
		</div>
	</div>
</div>
</section>